!!! 5
html(lang="en")
  head
    title= title
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/styles.css')  
  body
    header
      nav.navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='#')= title
            .nav-collapse
              .nav
                li
                  form.navbar-search.pull-left(action='')
                    input.search-query.span2(type='text', placeholder='Filter by genre')
    .content.container-fluid
      h1 Twitterfy Top 40
    footer= copyright
      p Legendary programming quad-force: 
        a(href='http://www.github.com/tuckbick') Tucker Bickler
        = ", "
        a(href='http://www.github.com/fastfrwrd') Paul Marbach
        = ", "
        a(href='http://www.github.com/vanetix') Matt McFarland
        = ", and "
        a(href='http://wwww.github.com/chasiepoo') Chase Coney
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(type='text/javascript', src='/js/sockets.client.js')
    script(type='text/javascript', src='/js/jquery.ui.min.js')
    script(type='text/javascript', src='/js/jquery.flip.min.js')
    script(type='text/javascript', src='/js/jquery.color.js')
    script(type='text/javascript', src='/js/interactions.js')
        
        
