/* tag styles */
h1 {
	margin-bottom: 10px;
}

/* general styles */

.content {
	background: white
	border: #dceccc;
	padding: 10px;
}

footer{
    text-align: center;
}

ol li {
	overflow: hidden;
}

/* track style */
.track {
	min-height: 140px;
}

	.track .album-art {
		display: block;
		margin: 5px auto;
		padding: 0px;
	    text-align: center;
	}
	
		.track .album-art .cover {
			width: 64px;
			height: 64px;
		}	